{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Ce template affiche la vue qui permet de créer une review en réponse à un ticket -->
<div class="response-to-ticket-container">
    <h2>Répondre à un Ticket</h2>

    {% if ticket %}
        <!-- Si un ticket est fourni, il affiche les détails du ticket, y compris le titre, l'auteur, la date de création, l'image (si disponible) et la description. -->
        <h3>Vous êtes en train de poster en réponse au ticket : {{ ticket.title }}</h3>
        <div class="ticket-details">
            <div class="ticket-header">
                <p>Auteur : {{ ticket.user.username }}</p>
                <span class="ticket-date-time">{{ ticket.time_created|date:"d M Y H:i" }}</span>
            </div>
            <div class="ticket-image-and-description">
                {% if ticket.image %}
                    <div class="ticket-image">
                        <img src="{{ ticket.image.url }}" alt="Image de couverture du livre ou article">
                    </div>
                {% endif %}
                <div class="ticket-description">
                    <p>{{ ticket.description }}</p>
                </div>
            </div>
        </div>

        <div class="hr-container">
            <hr>
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="error-messages">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Champ caché pour le ticket -->
        {% if ticket %}
            <input type="hidden" name="ticket" value="{{ ticket.id }}" id="id_ticket">
        {% endif %}

        <div class="form-group">
            <!-- Gestion de l'évaluation par étoiles pour le champ 'rating' rendu intéractif avec JS -->
            <div class="note-field">
                <label for="{{ form.rating.id_for_label }}">{{ form.rating.label }}</label>
                <div class="rating-stars">
                    {% for i in "12345" %}
                        <span class="star" data-value="{{ i }}">★</span>
                    {% endfor %}
                </div>
                <!-- Champ caché pour Notes qui stocke la valeur de la note sélectionnée. -->
                <input type="hidden" name="{{ form.rating.name }}" id="rating" value="{{ form.rating.value }}">
            </div>
            <div class="title-field">
                <label for="{{ form.headline.id_for_label }}">{{ form.headline.label }}</label>
                {{ form.headline }}
                {% for error in form.headline.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="comment-field">
                <label for="{{ form.body.id_for_label }}">{{ form.body.label }}</label>
                <div class="comment-textarea-container">
                    {{ form.body }}
                    {% for error in form.body.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="submit-button-container">
            <button type="submit" class="submit-button">Envoyer</button>
        </div>
    </form>
</div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/forms.js' %}"></script>
{% endblock %}