@import 'variables';
@import 'buttons';

// Styles pour le conteneur principal du flux d'activité et chaque post individuel
.feed-container, .post {
  border-radius: 5px; // Rayon de bordure standard
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;

  // Style spécifique au .feed-container
  &.feed-container {
    max-width: 850px;
    margin: 50px auto 20px;
  }

  // Styles spécifique pour chaque post
  &.post {
    background-color: $container-bg-color;
    border: 2px solid $container-border-color;
    border-radius: 10px; // Augmente le rayon de la bordure pour un aspect plus doux
    box-shadow: 0 2px 4px $shadow-color; // Ajoute une ombre légère pour la profondeur
    font-family: $font-family; // Applique la police Roboto

    // Style pour l'en-tête de chaque post (date et heure)
    .post-header {
      position: absolute; // Position absolue par rapport à .post
      top: 10px;
      right: 10px;
      text-align: right;

      // Style pour l'affichage de la date et de l'heure
      .post-time {
        font-size: 0.8em;
        color: $date-color;
      }
    }

    h3 {
      color: $brown-color-title;
    }

    // Styles spécifiques pour le bouton de réponse au ticket
    .ticket-response {
      text-align: right;
      margin-top: 20px;
    }
  }
}

// Styles spécifiques pour les tickets et les posts combinés
.combined-post, .ticket-layout {
  .ticket-header {
    text-align: left;
  }

  .ticket-content {
    display: flex; // Flexbox pour aligner l'image et le texte
    align-items: center; // Alignement vertical des éléments

    .ticket-image {
      flex: 0 0 auto; // Flexibilité de l'image
      margin-right: 20px;

      img {
        max-width: 250px;
        max-height: 250px;
        margin: 20px auto;
        margin-left: 10px;
        transform: rotate(-3deg); // Rotation légère de l'image
      }
    }

    .ticket-text {
      flex: 1; // Flexibilité pour occuper l'espace restant
      text-align: left; // Alignement du texte à gauche
      margin-left: 40px;
    }
  }

  hr {
    border-top: 1px solid $container-border-color; // Bordure supérieure
    margin: 20px 0; // Marge en haut et en bas
  }
}

// Style pour les étoiles de notation
.rating {
  display: inline-block; // Affichage en ligne avec ajustement de la taille
  color: $star-color;
  font-size: 1.5em;
}
