@import 'variables';

// Styles pour la page Abonnements
.user-following-container {
    max-width: 700px;
    margin: 50px auto 0;
    padding: 20px;
    background-color: $container-bg-color;
    border-radius: 20px;

    h2, h3 {
        color: #333;
    }

    .messages {
        margin-bottom: 20px;
        li {
            margin: 5px 0;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
    }

    .follow-form {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
    
        input[type="text"] {
            flex-grow: 0;
            padding: 10px;
            border: 2px solid $container-border-color;
            border-radius: 4px;
            margin-right: 20px; 
            width: 250px;
        }

        .btn-follow {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-weight: bold;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .btn-unfollow, .btn-block, .btn-unblock {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        margin-left: 10px;

        &:hover {
            opacity: 0.8;
        }
    }

    .btn-follow {
        background-color: #bd7b5dba;
        color: white;
    }

    .btn-unfollow {
        background-color: rgba(159, 78, 78, 0.667);
        color: white;
    }

    .btn-block {
        background-color: rgba(195, 18, 18, 0.601);
        color: white;
    }

    .btn-unblock {
        background-color: #527653b1;
        color: white;
    }

    .user-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }

    .user-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        img, span {
            margin-right: 10px;
        }

        .user-info {
            flex-grow: 1;
            display: flex;
            align-items: center;
        }

        .action-form {
            margin-left: auto;
        }
    }

    .followed-users,
    .followers,
    .blocked-users {
        margin-bottom: 50px; 
    }

    .custom-hr {
        border-color: #bd7b5dba;
        width: 100%;
        margin: 50px auto;
    }
}

// Style pour les messages d'erreur
.error {
    color: $red-color-error;
    font-weight: bold;
    margin: 10px 0;
}