// Variables pour les couleurs, la police et la taille de police
$header-background: url('../images/header_2x.png');
$background: url('../images/background_2x.png');

$font-family: 'Roboto', sans-serif;
$font-size: 21px;

$container-width: 500px; // Largeur du conteneur

$link-color: #A0522D; // Marron clair
$beige-color: #bd7c5d;
$container-bg-color: rgba(255, 255, 255, 0.801); // Blanc semi-transparent
$container-border-color: #bd7b5da7;
$brown-color-title: rgba(59, 16, 16, 0.931);
$brown-color-p: rgba(82, 9, 9, 0.479);
$red-color-error : red;
$shadow-color : rgba(0, 0, 0, 0.1);
$date-color : #666;
$star-color : gold;