{% extends 'base.html' %}

{% block content %}
    <div class="activity-buttons">
        <!-- Boutons pour créer de nouvelles demandes ou critiques -->
        <a class="submit-button" href="{% url 'create_ticket' %}">Demander une critique</a>
        <a class="submit-button" href="{% url 'create_review_with_ticket' %}">Créer une critique</a>
    </div>

    <div class="feed-container">
        {% for post in posts %}
            {% if post.content_type == 'REVIEW' %}
                <!-- Cas d'une critique associée à un ticket -->
                <div class="post combined-post">
                    <!-- Afficher la date et l'heure de création du post -->
                    <div class="post-header">
                        <span class="post-time">{{ post.time_created|date:"d M Y, H:i" }}</span>
                    </div>
                    <!-- Afficher les détails du ticket associé à la critique -->
                    <div class="ticket-header">
                        <h3>Ticket - {{ post.ticket.user.username }}</h3>
                    </div>
                    <div class="ticket-content">
                        <!-- Affichage de l'image du ticket si elle existe -->
                        {% if post.ticket.image %}
                            <div class="ticket-image">
                                <img src="{{ post.ticket.image.url }}" alt="Image de couverture du livre ou article">
                            </div>
                        {% endif %}
                        <!-- Affichage du titre et de la description du ticket -->
                        <div class="ticket-text">
                            <h4>{{ post.ticket.title }}</h4>
                            <p class="justified-description">{{ post.ticket.description }}</p>
                        </div>
                    </div>
                    <hr>

                    <!-- Section pour afficher les détails de la critique -->
                    <div class="review-section">
                        <h3>{{ post.user.username }} a publié une critique </h3>
                        <h4>{{ post.headline }} - 
                            <!-- Affichage des étoiles de notation -->
                            <span class="rating">
                                {% for star_filled in post.stars %}
                                    {% if star_filled %}
                                        ★
                                    {% else %}
                                        ☆
                                    {% endif %}
                                {% endfor %}
                            </span>                            
                        </h4>
                        <p class="justified-description">{{ post.body }}</p>
                    </div>

                    <!-- Bouton pour répondre au ticket, affiché seulement si l'utilisateur n'a pas déjà répondu -->
                    {% if not post.has_user_reviewed %}
                        <div class="ticket-response">
                            <a class="submit-button" href="{% url 'create_review_for_ticket' %}?ticket_id={{ post.ticket.id }}">Répondre à ce ticket</a>
                        </div>
                    {% endif %}
                </div>
            {% elif post.content_type == 'TICKET' and not post.review_set.exists %}
                <!-- Cas d'un ticket seul sans critique associée -->
                <div class="post ticket-layout">
                    <!-- Afficher la date et l'heure de création du post  -->
                    <div class="post-header">
                        <span class="post-time">{{ post.time_created|date:"d M Y, H:i" }}</span>
                    </div>

                    <div class="ticket-header">
                        <h3>{{ post.user.username }} a demandé une critique</h3>
                    </div>
                    <div class="ticket-content">
                        <!-- Affichage de l'image du ticket si elle existe -->
                        {% if post.image %}
                            <div class="ticket-image">
                                <img src="{{ post.image.url }}" alt="Image de couverture du livre ou article">
                            </div>
                        {% endif %}
                        <!-- Affichage du titre et de la description du ticket -->
                        <div class="ticket-text">
                            <h4>{{ post.title }}</h4>
                            <p class="justified-description">{{ post.description }}</p>
                        </div>
                    </div>
                    <!-- Bouton pour répondre au ticket -->
                    <div class="ticket-response">
                        <a class="submit-button" href="{% url 'create_review_for_ticket' %}?ticket_id={{ post.id }}">Répondre à ce ticket</a>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            <!-- Affiché si aucun post n'est disponible -->
            <p>Aucun post n'est disponible.</p>
        {% endfor %}
    </div>
{% endblock %}
