{% extends 'base.html' %}

{% block content %}
<h2>Mes Tickets</h2>

<ul>
    {% for ticket in tickets %}
    {% if ticket.user == request.user %}
    <li>
        <!-- Afficher l'image du ticket si elle existe -->
        {% if ticket.image %}
        <img src="{{ ticket.image.url }}" alt="Image du ticket" style="max-width: 200px; max-height: 200px;">
        {% endif %}

        <strong>{{ ticket.title }}</strong> - posté par moi
        <br>
        {{ ticket.description|linebreaksbr }}

        <a href="{% url 'update_ticket' ticket.id %}">Modifier le ticket</a> |
        <a href="{% url 'delete_ticket' ticket.id %}">Supprimer le ticket</a>

        <!-- Afficher les critiques liées à ce ticket -->
        {% for review in ticket.review_set.all %}
            {% if review.user == request.user %}
            <div>
                <strong>Ma Critique:</strong>
                <p>{{ review.headline }}</p>
                <p>{{ review.body|linebreaksbr }}</p>
                <p>Note: {{ review.rating }}/5</p>

                <a href="{% url 'update_review' review.id %}">Modifier la critique</a> |
                <a href="{% url 'delete_review' review.id %}">Supprimer la critique</a>
            </div>
            {% endif %}
        {% empty %}
            <p>Aucune critique pour ce ticket.</p>
        {% endfor %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock content %}
